<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= result[0].street %></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111266925-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-111266925-1');
    </script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/fa17g01/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fa17g01/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" href="/fa17g01/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/dannyStyle.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/Navigation-Clean1.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/Pretty-Search-Form.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/fa17g01/assets/css/styles.css">
    <script src="/fa17g01/assets/js/jquery.min.js"></script>


</head>

<body>
<div>
    <div class="disclaimer" style="background-color:#43c59e;height:24px;">
        <p class="text-center warning" style="margin-bottom:0px;color:rgb(255,255,255);margin-top:0px;padding-top:2px;">
            SFSU Software Engineering Project, Fall 2017. For Demonstration Only</p>
    </div>
    <nav class="navbar navbar-default navigation-clean" style="background-color:#003459;height:73px;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="/fa17g01/"
                                          style="color:#ffffff;font-family:Cookie, cursive;line-height:19px;font-size:33px;font-weight:normal;">Unlock </a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse  col-sm-9 col-md-9" id="navcol-1">
                <form class="navbar-form" action="/fa17g01/search">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="dropdown btn-group" role="group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"
                                        type="button">City <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <% if (cities) { for(var j = 0; j < cities.length; j++){ %>
                                    <li role="presentation"><a
                                                href="/fa17g01/search?word=<%= cities[j].city %>"><%= cities[j].city %></a>
                                    </li>
                                    <% }} %>
                                </ul>
                            </div>
                            <div class="dropdown btn-group" role="group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"
                                        type="button">Zip code<span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <% if (zips) { for(var i = 0; i < zips.length; i++){ %>
                                    <li role="presentation"><a
                                                href="/fa17g01/search?word=<%= zips[i].zip %>"><%= zips[i].zip %></a>
                                    </li>
                                    <% }} %>
                                </ul>
                            </div>
                        </div>
                        <input class="form-control search bar" type="text" placeholder="Enter City or ZIP code
                               maxlength="40"
                               name="word">
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation"><a href="/fa17g01/about/" class="active nav menu" style="color:#ffffff;">About
                            us</a></li>
                    <% if ( user.username ) { %>
                    <% if ( user.isAgent ) { %>
                    <li role="presentation"><a href="/fa17g01/agent/" class="active nav menu" style="color:#ffffff;">Dashboard</a>
                    </li>
                    <% } %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ffffff;">
                            Hi <%= user.username %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/fa17g01/logout/<%= pageId %>/">Logout</a>
                        </div>
                    </li>
                    <% } else { %>
                    <li role="presentation"><a href="/fa17g01/login/" class="active nav menu" style="color:#ffffff;">Log
                            in</a></li>
                    <li role="presentation"><a href="/fa17g01/registration/" class="active nav menu"
                                               style="color:#ffffff;">Sign Up</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div>
    <!-- <div class="container" style="margin-bottom:-15px;margin-top:9px;margin-right:55px;">
         <a class="btn btn-info" role="button" onclick="goBack()">Go back</a>
     </div>-->
</div>
<div style="margin-top:35px;margin-bottom:35px;">
    <div class="container house details"
         style="padding:20;padding-right:0px;padding-top:21px;padding-bottom:21px;padding-left:9px;width:1025px">
        <div class="row" style="margin-right:-24px;margin-left:0px;">
            <div class="col-md-6">
                <h1 style="font-size:32px;">$<%= result[0].price %> </h1>
                <h3> <%= result[0].street %></h3>
                <p> <%= result[0].description %> </p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Street:</strong> <%= result[0].street %></li>
                    <li class="list-group-item"><strong>ZIP:</strong> <%= result[0].zip %></li>
                    <li class="list-group-item"><strong>City:</strong> <%= result[0].city %></li>
                    <li class="list-group-item"><strong>Price:</strong> $<%= result[0].price %></li>
                    <li class="list-group-item"><strong>Description:</strong> <%= result[0].description %></li>
                    <li class="list-group-item"><strong>Bedrooms:</strong> <%= result[0].bedrooms %></li>
                    <li class="list-group-item"><strong>Baths:</strong> <%= result[0].baths %></li>
                    <li class="list-group-item"><strong>Backyard:</strong> <%= result[0].backyard %></li>
                    <li class="list-group-item"><strong>Pool:</strong> <%= result[0].pool %></li>
                    <li class="list-group-item"><strong>AC:</strong> <%= result[0].ac %></li>
                    <li class="list-group-item"><strong>Publish Date:</strong> <%= result[0].publish_date %></li>
                    <li class="list-group-item"><strong>Year:</strong> <%= result[0].yr %></li>
                </ul>
            </div>
            <% var source = "data:image/png;base64," + result[0].img; %>
            <div class="container col-md-6 ">
                <div class="row">
                    <% if(!images) { %>
                    <img src="<%= source %>"
                         style="background-size:cover;width:457px;background-position:0% 35%;">
                    <% }else{ %>

                    <div id="myCarousel" class="carousel slide" data-ride="carousel"
                         style="background-size:cover;width:457px; background-position:0% 35%;">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <% if(images) { %>
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <% if(images.length > 1){for(var j = 1; j < images.length; j++){ %>
                            <li data-target="#myCarousel" data-slide-to="<%= j %>"></li>
                            <% }}} %>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% if(images) { %>
                            <% var source = "data:image/png;base64," + images[0].image; %>
                            <div class="item active">
                                <img src="<%= source %>" alt="Los Angeles">
                            </div>
                            <% if(images.length > 1){for(var j = 1; j < images.length; j++){ %>
                            <% var source = "data:image/png;base64," + images[j].image; %>
                            <div class="item">
                                <img src="<%= source %>" alt="House image">
                            </div>
                            <% }}} %>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <% } %>
					<div>
                        <form method="post" style="background-color:#ffffff;width:457px;margin-left:-15px">
                            <div class="form-group">
                                <textarea class="form-control" rows="14" name="message" placeholder="Message"
                                          style="height:150px;width:457px;">Hello! I really like this house, please give me further information about this house please</textarea>
                            </div>
                            <% if ( user.username ) { %>
                            <div class="form-group" style="color: #fff;"><a id="contactButton" class="btn btn-primary"
                                                                            role="button"
                                                                            style="width:462px;" data-toggle="modal"
                                                                            data-target="#sentModal">Send Message </a>
                            </div>

                            <% } else{ %>
                            <div class="form-group">
                                <a id="loginButton" style="margin-right:5px;" class="btn btn-primary" role="button" data-toggle="modal"
                                   data-target="#loginModal">To Send Message,Please Log In </a>
                                <a id="signup" style="margin-left:5px;"class="btn btn-primary" role="button" data-toggle="modal"
                                   data-target="#signinModal"> Or Sign Up </a>
                            </div>

                            <% } %>
                        </form>
                    </div>
                    <div class="row">
                        <iframe
                                frameborder="0"
                                width="100%" height="100%"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPbfCf7NlfuG9RFTdme-KvLJr-6YR242Q&q=<%= result[0].city %>,<%= result[0].street %>"
                                class="map-screen"
                                style="margin-top:20px;width:457px; height: 200px;"
                                allowfullscreen>
                        </iframe>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/fa17g01/login/<%= pageId %>/" method="post" id="logIn">
                        <h2 class="text-center"><strong>Login</strong> to your account.</h2>
                        <div class="form-group">
                            <input class="form-control username-input" type="text" name="username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit" style="background-color:#3cad8b;">
                                Log me in
                            </button>
                        </div>
                        <a href="#" class="already">Forgot your password?click here.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/fa17g01/registration/<%= pageId %>/" method="post" id="signIn">
                        <h2 class="text-center"><strong>Create</strong> an account.</h2>
                        <div class="form-group">
                            <input class="form-control username-input" type="text" name="username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control email-input" type="email" name="email" id="email"
                                   placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" id="password"
                                   placeholder="Password"
                                   required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password2" id="password2"
                                   placeholder="Password (repeat)"
                                   required>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="is_agent" id="exampleRadios1"
                                       value="0" checked>
                                Buyer
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="is_agent" id="exampleRadios2"
                                       value="1">
                                Seller
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label class="control-label">
                                    <input type="checkbox" id="agree">I agree to the license terms.</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" id="signUp" type="submit"
                                    style="background-color:#3cad8b;"
                                    disabled>Sign Up
                            </button>
                        </div>
                        <a href="/fa17g01/login" class="already">You already have an account? Login here.</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Message sent !</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Your message has been sent!</br></br>The agent in charge of this house will contact you soon on
                        your email address.</br></br>Thank you.</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
<footer style="background-color:#011d32;padding-top:73px;margin:0;margin-top:85;padding-left:40px;margin-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3><a href="/fa17g01/">Unlock</a></h3>
                <p class="links"><a href="/fa17g01/">Home</a><strong> · </strong><a
                            href="https://sfsuse.com/fa17g01/about/">About</a><strong> · </strong><a
                            href="/fa17g01/registration/"> Sign-Up</a><strong> </strong></p>
                <p class="company-name">Unlock © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">1600 Holloway Ave</span> San Franscisco, CA 94132</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> 123456789</p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p style="color:rgb(255,255,255);"> Six students from San Francisco State University that gets together
                    to create a real estate website that provides houses. </p>

            </div>
        </div>
    </div>
</footer>
<script src="/fa17g01/assets/js/jquery.min.js"></script>
<script src="/fa17g01/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {

        $('#logIn').validate({
            rules: {
                username: {
                    minlength: 4,
                    required: true
                },
                password: {
                    required: true,
                    minlength: 4,
                },
            }
        });

        $('#signIn').validate({
            rules: {
                username: {
                    minlength: 4,
                    required: true
                },
                password: {
                    required: true,
                    minlength: 4,
                },
                password2: {
                    equalTo: "#password"
                },
                email: {
                    required: true,
                    email: true
                }
            }
        });

        $('#agree').change(function () {
            if (this.checked) {
                document.getElementById('signUp').disabled = !this.checked;
            }
            else {
                document.getElementById('signUp').disabled = !this.checked;
            }
        });
    });

</script>
</body>

</html>
