<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  .map {
    height: 40%;
    width: auto;
  }
  </style>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="/fa17g01/">Unlock</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/fa17g01/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fa17g01/about/">About us</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" action="/fa17g01/search">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="word" acti>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <main role="main">
      <div>
        <h1></br></h1>
        <h1>Found <%= result.length %> results for <%= word %>:</h1>
      </div>
      <% if(result.length != 0){
        for(var i = 0; i<result.length; i++){ %>
          <div class="jumbotron">
            <h1>House <%= i+1 %></h1>
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-group">
                  <li class="list-group-item"><strong>Street:</strong> <%= result[i].street %></li>
                  <li class="list-group-item"><strong>ZIP:</strong> <%= result[i].zip %></li>
                  <li class="list-group-item"><strong>City:</strong> <%= result[i].city %></li>
                  <li class="list-group-item"><strong>Price:</strong> $<%= result[i].price %></li>
                  <li class="list-group-item"><strong>Description:</strong> <%= result[i].description %></li>
                  <li class="list-group-item"><strong>Bedrooms:</strong> <%= result[i].bedrooms %></li>
                  <li class="list-group-item"><strong>Baths:</strong> <%= result[i].baths %></li>
                  <li class="list-group-item"><strong>Backyard:</strong> <%= result[i].backyard %></li>
                  <li class="list-group-item"><strong>Pool:</strong> <%= result[i].pool %></li>
                  <li class="list-group-item"><strong>AC:</strong> <%= result[i].ac %></li>
                  <li class="list-group-item"><strong>Publish Date:</strong> <%= result[i].publish_date %></li>
                  <li class="list-group-item"><strong>Year:</strong> <%= result[i].yr %></li>
                </ul>
                </div>
                <div class="col-sm-6">
                  <% var source = "data:image/png;base64," + result[i].img; %>
                  <div class="center-block">
                    <img  src="<%= source %>" class="img-thumbnail center-block img-responsive" />
                  </div>
                  <div id="map<%=i%>" class="map">
                    <iframe
                    width="450"
                    height="250"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPbfCf7NlfuG9RFTdme-KvLJr-6YR242Q&q=<%=result[i].city%>,<%=result[i].street%>" allowfullscreen>
                  </iframe>
                </div>
              </div>
              <!-- end right colum -->
            </div>
            <!-- end row -->
          </div>
          <!-- end jumbotron -->
          <% }} %>

        </main>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
    </html>
